@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Book.woff') format('woff');
  src: url('../fonts/CircularStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Medium.woff') format('woff');
  src: url('../fonts/CircularStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Bold.woff') format('woff');
  src: url('../fonts/CircularStd-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Black.woff') format('woff');
  src: url('../fonts/CircularStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
body{
  font-family: 'CircularStd' !important;
}
