.portfolio {
  margin: 0 2rem;
}
.portfolio .logo {
  width: 15rem;
}
.portfolio .hello {
  width: 100%;
}
.portfolio .img {
  margin: 0;
  width: 33.3%;
  margin-right: 2rem;
}

.portfolio .info {
  background-color: #444d59;
  height: 30rem;
  color: white;
}
.jobtitle {
  color: #919191;
  font-size: 18px;
  font-weight: 400;
  margin: 5px 0;
}
.iam {
  font-size: 46px;
    margin: 0;
}
