.tab {
  display: none;
}

.tab.active {
  display: flex!important;
}

.actions .prev_tab, .actions .next_tab {
  border: solid 1px gray;
  padding: 1rem;
  min-width: 6rem;
  margin: 1rem;
  text-align: center;
  display: none;
}

.actions .prev_tab.active, .actions .next_tab.active {
  display: flex!important;
}

.actions .prev_tab:hover, .actions .next_tab:hover {
  background-color: lightgray;
}
